__pycache__/
*.pyc
*.pyo
*.pyd
*~
*.bak
*.tmp
.env
*.env

terraform/terraform.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
crash.log
*.auto.tfvars

k8s/generated/
*.pem

.vscode/
.idea/
.DS_Store
