aws_region   = "eu-central-1"
project_name = "predictive-llm-k8s"
environment  = "dev"

vpc_cidr             = "10.0.0.0/16"
public_subnet_a_cidr = "10.0.1.0/24"
public_subnet_b_cidr = "10.0.2.0/24"

cluster_name         = "predictive-llm-k8s-cluster"
cluster_version      = "1.31"

node_instance_type   = "t3.medium"
node_desired_size    = 2
node_min_size        = 2
node_max_size        = 2

ollama_instance_type = "c5.large"
ollama_allowed_cidr  = "0.0.0.0/0"
ssh_key_name         = "mike-key-Frankfurt"
